<link rel="stylesheet"href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<div class="tabs-vert-left">
    <ul class="tabs-nav">
        <li><a href="">Simple</a></li>
        <li><a href="">Advanced</a></li>
    </ul>
 	<div class="tab-content">
 		<%= form_tag('/mentors/search', :id=> 'form')%>
			<%=text_field_tag('mentor_name', nil, :placeholder => "Mentor's name...", :id=>'mentor_name')%>
			
		    <label>
		    	<span class="text-form fleft">in:</span>
		    <%=select_tag('sector_id', options_from_collection_for_select(@sectors, "id", "name"), :include_blank=>true)%>
			</label>   
			<%=submit_tag('Search')%>
		</form>
 	</div>
  
    <div class="tab-content"> 
			<%=text_field_tag'closing_date', nil, :id=>"date", :style=>"width:100px; position: relative; z-index: 100000", :readonly =>true%>		
	</div>
</div>
<script>
$( "#date" ).datepicker();
</script>
  
  
  
