<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <table class="change_password" style="margin: 0 auto;">
  	<tr>
	  <td><%= f.label :email %></td>
	  <td><%= f.email_field :email, :autofocus => true %></td>
	</tr>
	
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div style="margin: 1em;">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <tr>
  	<td><%= f.label :password %> </td> <!--<i>(leave blank if you don't want to change it)</i>-->
  	<td><%= f.password_field :password, :autocomplete => "off" %></td>
  </tr>
  
  <tr>
  	<td><%= f.label :password_confirmation, 'Password Confirmation' %></td>
  	<td><%= f.password_field :password_confirmation %></td>
  </tr>

  <tr>
  	<td><%= f.label :current_password %> </td> <!--<i>(we need your current password to confirm your changes)</i>-->
  	<td><%= f.password_field :current_password %></td>
  </tr>
</table>
	<br/><br/>
	<%= f.submit "Update" %>
<% end %>

<%= link_to "Back", :back %>
