<div class="tabs-horz-top2">
	<ul class="tabs-nav" style="margin-right: 45px">
		<li><a href="">Members</a></li>
		<li><a href="">Organisations</a></li>
	</ul>
	
	<div class="tab-content" style="background: none; border: none;">
		<div class="container_24">
			<div class="wrapper" style="width: 100%">
				<div class="grid_24">
					<%= image_tag "Slide1 members.png"%>
				</div>
				<div class="clear"></div>
				<div class="grid_24 how-it-works">
					<%= image_tag "Slide2.1.png"%>
				</div>
				<div class="grid_24 how-it-works">
					<%= image_tag "Slide2.2.png"%>
				</div>
				<div class="grid_24 how-it-works">
					<%= image_tag "Slide3.1.png"%>
				</div>
				<div class="grid_24 how-it-works">
					<%= image_tag "Slide3.2.png"%>
				</div>
				<div class="grid_24 how-it-works">
					<%= image_tag "Slide4.1.png"%>
				</div>
			</div>
		</div>
	</div>
	
	<div class="tab-content" style="background: none; border: none;">
		<div class="container_24">
			<div class="wrapper" style="width: 100%">
				<div class="grid_24">
					<%= image_tag "Slide1 organisation.png", :style => "margin-left: -7px;"%>
				</div>
				<div class="clear"></div>
				<div class="grid_16">
					<p>Want to find out more about how our FREE service can add value to your organisation? Contact our team today and we will get back to you within 24 hours.</p>
				</div>
				<div class="grid_8">
					<%= link_to 'Contact Us', pages_contact_us_path, :class => "btn", :style=> "float:right; margin-right: 10px;"%>
				</div>
				<div class="grid_24 how-it-works">
					<%= image_tag "Slide5.1.png"%>
				</div>
				<div class="grid_24 how-it-works">
					<%= image_tag "Slide5.2.png"%>
				</div>
				<div class="grid_24 how-it-works">
					<%= image_tag "Slide6.1.png"%>
				</div>
				<div class="grid_24 how-it-works">
					<%= image_tag "Slide6.2.png"%>
				</div>
				<div class="grid_24 how-it-works">
					<%= image_tag "Slide7.1.png"%>
				</div>
			</div>
		</div>
	</div>
	
</div>
