<section class="padsection5">
		<div class="container_24">
			<div class="wrapper"><div class="grid_24"><h3>Our Team</h3></div></div>
			<div class="wrapper">
				<div class="grid_8">
							<div class="view view_second">
								<%= image_tag ('team/sandeepdosanjh.jpg')%>
								<div class="mask"></div>
								<div class="content">
									<h2> Sandeep Dosanjh </h2>
									<p> CEO </p>
									<a href="mailto:sdosanjh@raisonmentors.com" class="btn">Contact</a>
								</div>
							</div>
						<div class="view view_second">
								<%= image_tag ('team/jamesmorrissey.jpg')%>
								<div class="mask"></div>
								<div class="content">
									<h2> James Morrissey </h2>
									<p> Head of Customer Accounts </p>
									<a href="mailto:jmorrissey@raisonmentors.com" class="btn">Contact</a>
								</div>
							</div>
				</div>
				<div class="grid_8">
							<div class="view view_second">
								<%= image_tag ('team/sharanreddy.jpg')%>
								<div class="mask"></div>
								<div class="content">
									<h2> Sharan Reddy </h2>
									<p> Head of Marketing </p>
									<a href="mailto:sreddy@raisonmentors.com" class="btn">Contact</a>
								</div>
							</div>
							<div class="view view_second">
								<%= image_tag ('team/pavnilakhani.jpg')%>
								<div class="mask"></div>
								<div class="content">
									<h2> Pavni Lakhani </h2>
									<p> Graphics </p>
									<a href="mailto:plakhani@raisonmentors.com" class="btn">Contact</a>
								</div>
							</div>
				</div>
				<div class="grid_8">
						<div class="view view_second">
								<%= image_tag ('team/sidhantmehta.jpg')%>
								<div class="mask"></div>
								<div class="content">
									<h2> Sidhant Mehta </h2>
									<p> Head of IT </p>
									<a href="mailto:smehta@raisonmentors.com" class="btn">Contact</a>
								</div>
							</div>	
				</div>
			</div>
			<div class="wrapper"><div class="grid_24 padline6"><div class="lineH"></div></div></div>
			<div class="wrapper">
				<div class="grid_11">
					<h2 class="padtitle3">Want to get involved?</h2>
					<p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl.</p>
					<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
				</div>
				<div class="grid_13">
					<h2 class="padtitle4">Useful Info</h2>
					<div class="wrapper">
						<div class="grid_5 alpha">
							<ul class="list-1">
								<li><a href="more.html">Professional Consultations</a></li>
								<li><a href="more.html">What to Expect</a></li>
								<li><a href="more.html">Did you Know?</a></li>
							</ul>
						</div>
						<div class="grid_4">
							<ul class="list-1">
								<li><a href="more.html">On-line Contacts</a></li>
								<li><a href="more.html">FAQs</a></li>
							</ul>
						</div>
						<div class="grid_4 omega">
							<ul class="list-1">
								<li><a href="more.html">Our Development</a></li>
								<li><a href="more.html">Hot News</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
</div>