<style>
	.container_24 .grid_8 {
		width: inherit;
		margin-left: 0;
	}

	.view {
		margin: 0 0 5px 0;
	}
</style>
<section class="padsection5">
	<div class="container_24">
		<div class="wrapper">
			<div class="grid_24">
				<h3>Our Team</h3>
			</div>
		</div>
		<div class="wrapper">
			<div class="grid_8">
				<div class="view view_second">
					<%= image_tag ('team/sandeepdosanjh.jpg')%>
					<div class="mask"></div>
					<div class="content">
						<h2> Sunny Dosanjh </h2>
						<p>
							CEO and Founder
						</p>
						<a href="mailto:sdosanjh@raisonmentors.com" class="btn">Contact</a>
					</div>
				</div>
			</div>
			<div class="grid_8">
				<div class="view view_second">
					<%= image_tag ('team/sidhantmehta.jpg')%>
					<div class="mask"></div>
					<div class="content">
						<h2> Sidhant Mehta </h2>
						<p>
							Head of IT
						</p>
						<a href="mailto:smehta@raisonmentors.com" class="btn">Contact</a>
					</div>
				</div>
			</div>
			<div class="grid_8">
				<div class="view view_second">
					<%= image_tag ('team/sharanreddy.jpg')%>
					<div class="mask"></div>
					<div class="content">
						<h2> Sharan Reddy </h2>
						<p>
							Head of Marketing
						</p>
						<a href="mailto:sreddy@raisonmentors.com" class="btn">Contact</a>
					</div>
				</div>
			</div>
			<div class="grid_8">
				<div class="view view_second">
					<%= image_tag ('team/jamesmorrissey.jpg')%>
					<div class="mask"></div>
					<div class="content">
						<h2> James Morrissey </h2>
						<p>
							Head of Customer Accounts
						</p>
						<a href="mailto:jmorrissey@raisonmentors.com" class="btn">Contact</a>
					</div>
				</div>
			</div>
			
		</div>
		<div class="wrapper">
			<div class="grid_24 padline6">
				<div class="lineH"></div>
			</div>
		</div>
		<div class="wrapper">
			<div class="grid_11">
				<h2 class="padtitle3">Want to get involved?</h2>
				<p>
					Looking for the opportunity to be part of something special?
				</p>
				<p>
					Raison Mentors provides the young and enthusiastic with great opportunities within the team. Get in <%= link_to 'contact', pages_contact_us_path%> and let us know your skills and how you think you can add value and we will do our best to find something for you!
				</p>
			</div>
		</div>
	</div>
</section>
</div>