<section class="padsection5">
		<div class="container_24">
			<div class="wrapper"><div class="grid_24"><h2>Our Team</h2></div></div>
			<div class="wrapper">
				<div class="grid_8">
					<div class="products">
						<a href="more.html"><%= image_tag ("6page_img1.jpg" )%></a>
						<div><a href="more.html">Company name</a></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies odio magna. Mauris a lacus metus, sed ultrices dui. Vivamus at eros.</p>
						<a href="more.html" class="button">Go To Site</a>
					</div>
					<div class="products">
						<a href="more.html"><%= image_tag ("6page_img2.jpg" )%></a>
						<div><a href="more.html">Company name</a></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies odio magna. Mauris a lacus metus, sed ultrices dui. Vivamus at eros.</p>
						<a href="more.html" class="button">Go To Site</a>
					</div>
				</div>
				<div class="grid_8">
					<div class="products">
						<a href="more.html"><%= image_tag ("6page_img3.jpg" )%></a>
						<div><a href="more.html">Company name</a></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies odio magna. Mauris a lacus metus, sed ultrices dui. Vivamus at eros.</p>
						<a href="more.html" class="button">Go To Site</a>
					</div>
					<div class="products">
						<a href="more.html"><%= image_tag ("6page_img4.jpg" )%></a>
						<div><a href="more.html">Company name</a></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies odio magna. Mauris a lacus metus, sed ultrices dui. Vivamus at eros.</p>
						<a href="more.html" class="button">Go To Site</a>
					</div>
				</div>
				<div class="grid_8">
					<div class="products">
						<a href="more.html"><%= image_tag ("6page_img5.jpg" )%></a>
						<div><a href="more.html">Company name</a></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies odio magna. Mauris a lacus metus, sed ultrices dui. Vivamus at eros.</p>
						<a href="more.html" class="button">Go To Site</a>
					</div>
					<div class="products">
						<a href="more.html"><%= image_tag ("6page_img6.jpg" )%></a>
						<div><a href="more.html">Company name</a></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies odio magna. Mauris a lacus metus, sed ultrices dui. Vivamus at eros.</p>
						<a href="more.html" class="button">Go To Site</a>
					</div>
				</div>
			</div>
			<div class="wrapper"><div class="grid_24 padline6"><div class="lineH"></div></div></div>
			<div class="wrapper">
				<div class="grid_11">
					<h2 class="padtitle3">Want to get involved?</h2>
					<p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl.</p>
					<p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
				</div>
				<div class="grid_13">
					<h2 class="padtitle4">Useful Info</h2>
					<div class="wrapper">
						<div class="grid_5 alpha">
							<ul class="list-1">
								<li><a href="more.html">Professional Consultations</a></li>
								<li><a href="more.html">What to Expect</a></li>
								<li><a href="more.html">Did you Know?</a></li>
							</ul>
						</div>
						<div class="grid_4">
							<ul class="list-1">
								<li><a href="more.html">On-line Contacts</a></li>
								<li><a href="more.html">FAQs</a></li>
							</ul>
						</div>
						<div class="grid_4 omega">
							<ul class="list-1">
								<li><a href="more.html">Our Development</a></li>
								<li><a href="more.html">Hot News</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
</div>