	<section class="padsection2">
		<div class="container_24">
			<div class="wrapper">
				<div class="grid_24">
					<h2 class="padtitle">What We Offer</h2>
				</div>
			</div>
			<div class="wrapper">
				<div class="grid_8">
					<div class="wrapper padbot">
						<div class="imgindent"><%= image_tag ("2page_img4.png" )%></div>
						<div class="extra-wrap"><a href="more.html">Marketing consulting</a><br>Sit amet consectetuer adipiscing raes vestibulum molestie lacusenen nonu hendrerit Cum sociis natoque.</div>
					</div>
					<div class="wrapper padbot">
						<div class="imgindent"><%= image_tag ("2page_img5.png" )%></div>
						<div class="extra-wrap"><a href="more.html">Business planning</a><br>Sit amet consectetuer adipiscing raes vestibulum molestie lacusenen nonu hendrerit Cum sociis natoque.</div>
					</div>
					<div class="wrapper">
						<div class="imgindent"><%= image_tag ("2page_img6.png" )%></div>
						<div class="extra-wrap"><a href="more.html">Investment banking</a><br>Sit amet consectetuer adipiscing raes vestibulum molestie lacusenen nonu hendrerit Cum sociis natoque.</div>
					</div>
				</div>
				<div class="grid_8">
					<div class="wrapper padbot">
						<div class="imgindent"><%= image_tag ("2page_img7.png" )%></div>
						<div class="extra-wrap"><a href="more.html">Project management</a><br>Sit amet consectetuer adipiscing raes vestibulum molestie lacusenen nonu hendrerit Cum sociis natoque.</div>
					</div>
					<div class="wrapper padbot">
						<div class="imgindent"><%= image_tag ("2page_img9.png" )%></div>
						<div class="extra-wrap"><a href="more.html">Strategic planning</a><br>Sit amet consectetuer adipiscing raes vestibulum molestie lacusenen nonu hendrerit Cum sociis natoque.</div>
					</div>
					<div class="wrapper">
						<div class="imgindent"><%= image_tag ("2page_img10.png" )%></div>
						<div class="extra-wrap"><a href="more.html">Customer-centered marketing</a><br>Sit amet consectetuer adipiscing raes vestibulum molestie lacusenen nonu hendrerit Cum sociis natoque.</div>
					</div>
				</div>
				<div class="grid_8">
					<div class="wrapper padbot">
						<div class="imgindent"><%= image_tag ("2page_img11.png" )%></div>
						<div class="extra-wrap"><a href="more.html">Direct Marketing</a><br>Sit amet consectetuer adipiscing raes vestibulum molestie lacusenen nonu hendrerit Cum sociis natoque.</div>
					</div>
					<div class="wrapper padbot">
						<div class="imgindent"><%= image_tag ("2page_img12.png" )%></div>
						<div class="extra-wrap"><a href="more.html">Employee training</a><br>Sit amet consectetuer adipiscing raes vestibulum molestie lacusenen nonu hendrerit Cum sociis natoque.</div>
					</div>
					<div class="wrapper">
						<div class="imgindent"><%= image_tag ("2page_img13.png" )%></div>
						<div class="extra-wrap"><a href="more.html">Internet marketing</a><br>Sit amet consectetuer adipiscing raes vestibulum molestie lacusenen nonu hendrerit Cum sociis natoque.</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
</div>
