	<section id="secondary_bar">
		<div class="user">
			<p><%= "#{@member.fname} #{@member.lname}" %></p>
			<%= link_to "Logout", destroy_member_session_path, :method => :delete, :class => "logout_user", :title => "Logout" %>
			
		</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><%= link_to "Home", root_path %><div class="breadcrumb_divider"></div> <a class="current">Dashboard</a></article>
		</div>
	</section><!-- end of secondary bar -->
	<aside id="sidebar" class="column">
		<hr/>
		<h3>Options</h3>
		<ul class="toggle">
			<li class="icn_edit_article"><%= link_to "Edit Profile", :controller => "members", :action => "profile" %></li>
			<li class="icn_categories"><%= link_to "View Applications", :controller => "members", :action => "applications" %></li>
		</ul>
		<br/>
		<h3>Other</h3>
		<ul class="toggle">
			<li class="icn_settings"><%= link_to "Settings", :controller => "members", :action => "settings" %></li>
			<li class= "icn_jump_back"><%= link_to "Logout", destroy_member_session_path, :method => :delete %></li>
		</ul>
		<%= render :partial => 'shared/admin_footer' %>
	</aside><!-- end of sidebar -->
