	<section id="secondary_bar">
		<div class="user">
			<p><%= "#{@member.fname} #{@member.lname}" %></p>
			<%= link_to "Logout", destroy_member_session_path, :method => :delete, :class => "logout_user", :title => "Logout" %>
			
		</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><%= link_to "Home", root_path %><div class="breadcrumb_divider"></div> <%= link_to "Dashboard", members_dashboard_path %></article>
		</div>
	</section><!-- end of secondary bar -->
	<aside id="sidebar" class="column">
		<hr/>
		<h3>Profile</h3>
		<ul class="toggle">
			<li class="icn_edit_article"><%= link_to "Edit Profile", :controller => "members", :action => "profile" %></li>
			<li class="icn_categories"><%= link_to "View Applications", :controller => "members", :action => "applications" %></li>
		</ul>
		<br/>
		<h3>Mentorship</h3>
		<ul class="toggle">
			<% if isMentor?(current_member.email) %>
				<li class="icn_edit_article"><%= link_to "Edit mentor profile", :controller => "members", :action => "edit_mentor"%></li>
				<li class="icn_trash"><%= link_to "Remove yourself", :controller => "members", :action => "destroy_mentor", data: { confirm: 'This is an irreversible permanent action. Are you sure you wish to continue?' }%></li>
			<% else%> 
				<li class="icn_add_user"><%= link_to "Become a mentor", :controller => "members", :action => "new_mentor"%></li>
			<% end%>
			<% if internalMentors? (current_member.email)%>
				<li class="icn_view_users"><%= link_to "Internal mentors", :controller => "members", :action => "list_internal_mentors"%></li>
			<%end%>
		</ul>
		<h3>Projects</h3>
		<ul class="toggle">
				<li class="icn_new_article"><%= link_to "Add Project", :controller => "members", :action => "new_project"%></li>
				<li class="icn_categories"><%= link_to "List Projects", :controller => "members", :action => "list_projects"%></li>
			<% if internalProjects? (current_member.email)%>
				<li class="icn_categories"><%= link_to "Internal projects", :controller => "members", :action => "list_internal_projects"%></li>
			<%end%>
		</ul>
		<h3>Other</h3>
		<ul class="toggle">
			<li class="icn_settings"><%= link_to "Settings", :controller => "members", :action => "settings" %></li>
			<li class= "icn_jump_back"><%= link_to "Logout", destroy_member_session_path, :method => :delete %></li>
		</ul>
		<%= render :partial => 'shared/admin_footer' %>
	</aside><!-- end of sidebar -->
