<h2>Sign up USING THE NEW REG</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= #f.error_messages 
  devise_error_messages! 
  %>

  <div><%= f.label :fname, 'First name' %><br />	
  <%= f.text_field :fname %></div>	

  <div><%= f.label :lname,'Last name' %><br />	
  <%= f.text_field :lname %></div>	

  <div><%= f.label :dob, 'Date of birth' %><br />	
  <%= f.text_field :dob %></div>	

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true%></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>