<%#TODO fix all the a href tags to link_to rails tags with correct naems. %>
<nav class="main-menu">
	<ul class="sf-menu">
		<li><em><%=link_to "About Us", :controller=>"about_us", :action =>"index" %></em><strong></strong>  <!-- class="current" -->
			<ul>
				<li><%=link_to "How it works", :controller=>"about_us", :action =>"how_it_works" %></li>
				<li><%=link_to "Meet the team", :controller=>"about_us", :action =>"meet_the_team" %></li>
				<li><%=link_to "Our philosophy", :controller=>"about_us", :action =>"our_philosophy"%></li>
				<li><%=link_to "What we do", :controller=>"about_us", :action=> "what_we_do"%></li>
			</ul>
		</li>
		<li><em><%=link_to "Mentors", :controller=>"mentors", :action =>"index" %></em><strong></strong>
			<ul>
				<li><%=link_to "Find a mentor", mentors_search_path %></li>
				<li><a href="more.html">Become a mentor</a></li><!-- look at team html-->
			</ul>
		</li>
		<li><a href="index.html"><em>Projects</em><strong></strong></a>  <!-- class="current" -->
			<ul>
				<li><a href="more.html">Find a project</a></li><!-- look at services.html-->
				<li><a href="more.html">Set up a project</a></li><!-- look at team html-->
			</ul>
		</li>
		<li><a href="index.html"><em>Jobs</em><strong></strong></a>  <!-- class="current" -->
			<ul>
				<li><a href="more.html">Find a job</a></li><!-- look at services.html-->
				<li><a href="more.html">Set up a job</a></li><!-- look at team html-->
			</ul>
		</li>
		<li><a href="index-4.html"><em>Employer profiles</em><strong></strong></a></li>
		<li class="last"><a href="index-6.html"><em>Contact us</em><strong></strong></a></li>
		
		<% if member_signed_in? == false && client_signed_in? == false %>
		<li><a href="index-4.html"><em>Login</em><strong></strong></a>
			<ul>
				<li><%= link_to "members", new_member_session_path %></li>
				<li><%= link_to "clients", new_client_session_path %></li>
			</ul> 
		</li>
		<% end%>
		<% if member_signed_in? %>
		<li><a href="index-4.html"><em>Members</em><strong></strong></a>
			<ul>
				<li><%= link_to "dashboard", members_dashboard_path %></li>
				<li><%= link_to "logout", destroy_member_session_path, :method => :delete %></li>
			</ul> 
		</li>
		<% end%>
		<% if client_signed_in? %>
		<li><a href="index-4.html"><em>Clients</em><strong></strong></a>
			<ul>
				<li><%= link_to "dashboard", clients_dashboard_path %></li>
				<li><%= link_to "logout", destroy_client_session_path, :method => :delete %></li>
			</ul> 
		</li>
		<% end%>
		
	</ul>
	<div class="clear"></div>
</nav>
