<link rel="stylesheet"href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<div class="tabs-vert-left">
    <ul class="tabs-nav">
        <li><a href="">Simple</a></li>
        <li><a href="">Advanced</a></li>
    </ul>
	<%= form_tag('/'+@type+'s/search', :id=> 'form')%>
 	<div class="tab-content">
			<%=text_field_tag(@type+'_name', nil, :placeholder => "#{@type}'s name...", :id=>@type+'_name')%>
			
		    <label>
		    	<span class="text-form fleft">in:</span>
		    	<%=select_tag('sector_id', options_from_collection_for_select(@sectors, "id", "name"), :include_blank=>true)%>
			</label>   
 	</div>
  
   <div class="tab-content" style="display: block;"> 
		<div class="container_24">
				<div class="wrapper">
					<div class="grid_12">
						<label >Closing After:</label>
						<input class="closing_date" id="closing_date" name="closing_date" readonly="readonly" type="text" class="hasDatepicker">		
					</div>
					<% if (@type == "project")%>
					<div class="grid_12" style="width: 50%;">
						<label for="amount">Min Salary (£):</label>
						<div style="" class="pay_slider" id="pay_slider"></div> 
			            <%=text_field_tag('pay_value', nil, :class => "pay_value", :id  => "pay_value")%>
					</div> 
					<% end%>
				</div>
		</div>		
	</div>
	
</div>
<%=submit_tag('Search', :class => "search_button")%>
</form>

<script>
$( "#closing_date" ).datepicker({dateFormat: "dd-mm-yy"});

var steps = [
	    "Expenses only",
	    "100",
	    "200",
	    "300",
	    "400+"
	];

$(function() {
    $( "#pay_slider" ).slider({
      value: 1,
      min: 0,
      max: 4,
      slide: function( event, ui ) {
        $( "#pay_value" ).val(steps[ui.value]);
      }
    });
    $( "#pay_value" ).val(steps[$( "#pay_slider" ).slider( "value" )] );
  });

</script>
  
  
  
