	<%= form_for(@project,url: {action: "create_project"},html: {id:"form_add_project", class: "blocks"}) do |f| %>
	<%= f.hidden_field :id %>
					<div id="tab1" class="tab_content">
						<table>
							 <tr>
							    <td><%= f.label :name, 'Project Name' %></td>
							    <td><%= f.text_field :name, :class=>"text" %></td>
							   </tr>
							 <tr>
							    <td><%= f.label :project_leader %></td>
							    <td><%= f.text_field :project_leader,:class=>"text" %></td>
							   </tr>
							 <tr>
							    <td><%= f.label :organisation %></td>
							    <td><%= f.text_field :organisation,:class=>"text", :readonly => true%></td>
						   </tr>
							 <tr>
							    <td><%= f.label :sector_ids, 'Works in (select max 3)' %></td>
								<td><%=f.select :sector_ids, Sector.all.collect {|s| [ s.name, s.id ] }, {:include_blank => false}, { :multiple => true, :size => 3, :style=> "width:242px"} %></td>
							   </tr>
							 
							 <tr>
							    <td><%= f.label :location %></td>
							    <td><%= f.select :location, Location.all.collect {|l| [l.name, l.name]},{}, {:class=>"text", :style=> "width:242px"} %>
							   </tr>
						   <tr>
								<td><%= f.label :salary, 'Salary Per Week £' %></td>
								<td><%= f.text_field :salary, :class=>"text" %></td>   		
						   </tr>
							 <tr>
							    <td><%= f.label :description %></td>
							    <td><%= f.text_area :description,:class=>"textarea" %></td>
							   </tr>
					 	</table>
				 	</div>
					<div id="tab2" class="tab_content">
						<table>
							<tr>
							    <td><%= f.label :email %></td>
							    <td><%= f.text_field :email,:class=>"text", :readonly => true %></td>
							   </tr>
							 <tr>
							    <td><%= f.label :telephone %></td>
							    <td><%= f.text_field :telephone,:class=>"text" %></td>
							   </tr>
						</table>
				 	</div>	   
				 	<div id="tab3" class="tab_content">
						<table>
							   <tr>
							    <td><%= f.label :closing_date %></td>
							    <td><%= f.text_field :closing_date, :class => "text", :id=>"datepicker_future", :readonly =>true%>
							   </tr>
							 <tr>
							    <td><%= f.label :draft %></td>
							    <td><%= f.check_box :draft,:class=>"text" %></td>
							   </tr>
						</table>				
					</div>
					<% #TODO create validatin server side n client. change css. 
					%> 
					<div class ="submit_link">
						<%= f.submit %>
					</div>
					<% end %>
