	<%= render :partial => 'shared/client/header' %>
	<%= render :partial => 'shared/client/secondarybar_and_sidebar'%>
	
		<section id="main" class="column">
		<%= render :partial => 'shared/member/alerts_and_notices'%>
		<h4 class="alert_info">Welcome to your dashboard! This is where you can view, edit and add mentors, projects and jobs for your company.</h4>
		
		<!-- start of table -->
		<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Recent Applications</h3>
		<ul class="tabs">
   			<li><a href="#tab1">Mentors</a></li>
    		<li><a href="#tab2">Projects</a></li>
    		<li><a href="#tab3">Jobs</a></li>
		</ul>
		</header>

		<!-- tab 1--> 
		<div class="tab_container">
			<div id="tab1" class="tab_content">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
   					<th>Application ID</th>
    				<th>Mentor Name</th> 
    				<th>Status</th> 
    				<th>Created On</th> 
    				<!--<th>Actions</th> --> 
				</tr>
			</thead> 
			<tbody> 
				<% @mentor_application_data.take(@limit).each_with_index do |application,index| %> 
				<tr> 
					<%  %> 
   					<td><%= application.id%></td> 
    				<td><%= link_to "#{application.fname} #{application.lname}", mentors_path + "/" + application.mentor_id.to_s %></td> 
    				<td><%= application.status%></td> 
    				<td><%= application.created_at.strftime("%d %b %Y - %H:%M") %></td> 
    				<!--<td><%= image_submit_tag("admin/icn_edit.png", :title => "Edit") %><%= image_submit_tag("admin/icn_trash.png", :title => "Trash") %> -->
				</tr> 
				<% end %>
			</tbody> 
			</table>
			</div><!-- end of #tab1 -->
		
		<!-- tab 2--> 	
			<div id="tab2" class="tab_content">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
   					<th>Application ID</th>
    				<th>Project Name</th> 
    				<th>Status</th> 
    				<th>Created On</th> 
    				<!--<th>Actions</th> --> 
				</tr>
			</thead> 
			<tbody> 
				<% @project_application_data.take(@limit).each_with_index do |application,index| %> 
				<tr> 
					<%  %> 
   					<td><%= application.id%></td> 
    				<td><%= link_to "#{application.name}", projects_path + "/" + application.project_id.to_s %></td> 
    				<td><%= application.status%></td> 
    				<td><%= application.created_at.strftime("%d %b %Y - %H:%M") %></td> 
    				<!--<td><%= image_submit_tag("admin/icn_edit.png", :title => "Edit") %><%= image_submit_tag("admin/icn_trash.png", :title => "Trash") %> -->
				</tr> 
				<% end %>
							</tbody> 
			</table>

			</div><!-- end of #tab2 -->
			
			<!-- tab 3--> 	
			<div id="tab3" class="tab_content">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
   					<th>Coming Soon</th> 
				</tr> 
			</thead> 
			<tbody> 
			</tbody> 
			</table>

			</div><!-- end of #tab3 -->
			
		</div><!-- end of .tab_container -->
		
		</article><!-- end of content manager article -->
		
	</aside><!-- end of sidebar -->
	
	<!-- latest updates area -->
	<% if false %>
	<article class="module width_quarter">
			<header><h3>Messages</h3></header>
			<div class="message_list">
				<div class="module_content">
					<div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
					<p><strong>John Doe</strong></p></div>
					<div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
					<p><strong>John Doe</strong></p></div>
					<div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
					<p><strong>John Doe</strong></p></div>
					<div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
					<p><strong>John Doe</strong></p></div>
					<div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
					<p><strong>John Doe</strong></p></div>
				</div>
			</div>
			<footer>
		</article><!-- end of messages article -->
	<% end %>
	</section> <!-- end of column section (at top) -->