<%= javascript_include_tag "clients" %>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<%= render :partial => 'shared/client/header' %>
<%= render :partial => 'shared/client/secondarybar_and_sidebar'%>
<%= stylesheet_link_tag "validation/validation_default", :type => "text/css", :media => "screen"%>

		<section id="main" class="column">
			<%= render :partial => 'shared/member/alerts_and_notices'%>
			<h4 class="alert_info">Welcome to your dashboard! This is where you can view, edit and adde mentors, projects and jobs for your company.</h4>
	
			<article class="module width_full" style="border:none; background:transparent;">
				<%= link_to "Edit email address or password.", edit_client_registration_path %>
			</article>
		</section>