<h3> </h3>

 <div class="grid_24">
<h3>Our Mentors</h3>
	<span class="initial_text"> Use our search facility below to find a project that meets your requirements.
	If you cannot find a mentor that meets your requirement then please contact us and we will do our best to find a suitable mentor as soon as possible.
</span>

<%= render :partial => "shared/searchbar"%>
</div>
<% @mentors.each do |mentor| %>
<table class="table">
	<tr>
		<th class="mentor_title"><%=link_to "#{mentor.fname} #{mentor.lname}", mentor%></th>
		<th><%= image_tag(mentor.image , :class => "mentor_image" )%></th> 	
		<td>
			<table class="mentor_inner">
				<tr><th>Organisation</th><th>Role</th><th>Sectors</th><th>Closing Date</th></tr>
				<tr><td><%= mentor.organisation%></td><td><%= mentor.role_title %></td><td><%=sectorsHTML(mentor)%></td><td><%=mentor.closing_date%></td></tr>
			</table>
		</td>
	</tr>
</table>
<%end%>
<div style="display: none;">
<%= link_to 'New Mentor', new_mentor_path %>
</div>
