<h2 class="mentor_title"> <%= @mentor.fname %> <%= @mentor.lname %> </h2>
<table class="table">
	<th><%= image_tag(@mentor.image.to_s , :class => "individual_mentor_image" ) %></th>
	<td>
		<table class="mentor_inner"> 
			<tr><th>Organisation</th><td>
				<% if organisationProfileExists?(@mentor.organisation) != -1 %> 
					<%= link_to @mentor.organisation, organisationProfileExists?(@mentor.organisation) %>
				<% else %>
				<%= @mentor.organisation %>
				<% end %>	
			</td></tr>
			<tr><th>Role</th><td><%= @mentor.role_title %></td></tr>
			<tr><th>Location</th><td><%= @mentor.location%></td></tr>
			<tr><th>Sectors</th><td><%=sectorsHTML(@mentor)%></td></tr>
			<tr><th>Biography</th><td><%=@mentor.description%></td></tr>
			<tr class="individual_closing_date_row"><th>Closing Date</th><td><%=Date.strptime(@mentor.closing_date.to_s, "%Y-%m-%d").strftime("%e %b %Y")%></td> 
				<td><p>
						<%= form_tag("/application/apply_mentor", :id=>"mentor_apply_form") %>
						<%= hidden_field 'member_id', @member, {:value => @member} %>
						<%= hidden_field 'mentor_id', @mentor.id, {:value => @mentor.id}%>
						<%= submit_tag('Apply')%>
					</p>
				</td></tr>
		</table>
	</td>
</table>

