<h3> </h3>

 <div class="grid_24">
<h3>Our Projects</h3>
	<span class="initial_text"> Use our search facility below to find a project that meets your requirements.
	If you cannot find a project that meets your requirement then please contact us and we will do our best to find a suitable project as soon as possible.
</span>

<%= render :partial => "shared/searchbar"%>
</div>
<% @projects.each do |project| %>
<table class="table">
	<tr>
		<th class="project_title"><%=link_to "#{project.name}", project%></th>
		<th><%= image_tag("/assets/projects/#{project.image}" , :class => "project_image" )%></th> 	
		<td>
			<table class="project_inner">
				<tr><th>Organisation</th><th>Location</th><th>Sectors</th><th>Salary</th><th>Closing Date</th></tr>
					<tr><td><%= project.organisation%></td><td><%= project.location %></td><td><%=sectorsHTML(project)%></td><td><%= project.salary%></td><td><%=project.closing_date%></td></tr>
			</table>
		</td>
	</tr>
</table>
<%end%>
<div style="display: none;">
<%= link_to 'New Project', new_project_path %>
</div>
