<!-- look at services.html-->
<h3> </h3>

 <div class="grid_24">
<h3>Projects</h3>
	<span class="initial_text"> Volunteer opportunities to gain valuable career experience and make your CV stand out.  <br/> 
		Charity - volunteer placements, Healthcare Organisations – Audits/Research projects, Private Companies – Work experience.
</span>

<%= render :partial => "shared/searchbar"%>
</div>
<% 
if (!@result_projects.empty?)
	@result_projects.each do |project| %>
	<table class="table">
		<tr>
			<th class="project_title"><%=link_to "#{project.name}", project%></th>
			<th><%= image_tag(project.image.to_s , :class => "project_image" )  %></th> 	
			<td>
				<table class="project_inner">
					<tr><th>Organisation</th><th>Location</th><th>Industry</th><th>Closing Date</th></tr>
					<tr><td><%= project.organisation%></td><td><%= project.location %></td><td><%=sectorsHTML(project)%></td><td><%=Date.strptime(project.closing_date.to_s, "%Y-%m-%d").strftime("%e %b %Y")%></td></tr>
				</table>
			</td>
		</tr>
	</table>
	<%end %>
 <%else %>
	<table class="table" style="">
		<tbody>
			<div class="grid_24">
				<h3> Oops... </h3> <span class="initial_text">Sorry there are currently no projects matching your criteria. We are constantly adding new projects so please check back soon or alternatively broaden your criteria to find a project today.</span>
			</div>
		</tbody>
	</table>
<% end%>
<div style="display: none;">
<%= link_to 'New project', new_project_path %>
</div>