<p id="notice"><%= notice %></p>

<span class="project_title"> <%= @project.name %></span>
<table class="table">
	<th><%= image_tag("/assets/projects/#{@project.image}" , :class => "individual_project_image" )%></th>
	<td>
		<table class="project_inner"> 
			<tr><th>Organisation</th><td><%= @project.organisation%></td></tr>
			<tr><th>Salary</th><td><%= @project.salary %></td></tr>
			<tr><th>Location</th><td><%= @project.location%></td></tr>
			<tr><th>Sectors</th><td><%=sectorsHTML(@project)%></td></tr>
			<tr><th>Biography</th><td><%=@project.description%></td></tr>
			<tr class="individual_closing_date_row"><th>Closing Date</th><td><%=@project.closing_date%></td> 
				<td><p>
						<%= form_tag('/projects/apply', :id=>"project_apply_form") %>
						<%= hidden_field 'member_id', @member, {:value => @member} %>
						<%= hidden_field 'project_id', @project.id, {:value => @project.id}%>
						<%= submit_tag('Apply')%>
					</p>
				</td></tr>
		</table>
	</td>
</table>

<div style="display: none;">
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>
