<span class="project_title"> <%= @project.name %></span>
<table class="table">
	<th><%= image_tag(@project.image.to_s , :class => "individual_project_image" ) %></th>
	<td>
		<table class="project_inner"> 
			<tr><th>Organisation</th><td>
				<% if organisationProfileExists?(@project.organisation) != -1 %> 
					<%= link_to @project.organisation, organisationProfileExists?(@project.organisation) %>
				<% else %>
				<%= @project.organisation %>
				<% end %>
				</td></tr>
			<tr><th>Salary</th><td><%= @project.salary %></td></tr>
			<tr><th>Location</th><td><%= @project.location%></td></tr>
			<tr><th>Sectors</th><td><%=sectorsHTML(@project)%></td></tr>
			<tr><th>Biography</th><td><%=@project.description%></td></tr>
			<tr class="individual_closing_date_row"><th>Closing Date</th><td><%=Date.strptime(@project.closing_date.to_s, "%Y-%m-%d").strftime("%e %b %Y")%></td> 
				<td><p>
						<%= form_tag('/application/apply_project', :id=>"project_apply_form") %>
						<%= hidden_field 'member_id', @member, {:value => @member} %>
						<%= hidden_field 'project_id', @project.id, {:value => @project.id}%>
						<%= submit_tag('Apply')%>
					</p>
				</td></tr>
		</table>
	</td>
</table>

