<h1>Listing adverts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Sector ids</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @adverts.each do |advert| %>
  <tr>
    <td><%= advert.name %></td>
    <td><%= advert.image %></td>
    <td><%= advert.sector_ids %></td>
    <td><%= link_to 'Show', advert %></td>
    <td><%= link_to 'Edit', edit_advert_path(advert) %></td>
    <td><%= link_to 'Destroy', advert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Advert', new_advert_path %>
