<h3> </h3>

 <div class="grid_24">
<h3>Employer Profiles</h3>
	<span class="initial_text"> Use our search facility below to find an employer's profile that meets your requirements.
	If you cannot find a company that meets your requirement then please contact us and we will do our best to find a suitable alternative as soon as possible.
</span>

<%= render :partial => "shared/searchbar" #need to change the search bar depending on spec.Need to add css too 'employer_title, employer_image, employer_inner
%>  
</div>
<% @employer_profiles.each do |profile| %>
<table class="table">
	<tr>
		<th class="employer_title"><%=link_to profile.name, profile %></th>
		<th><%= image_tag(profile.image.to_s , :class => "employer_image" ) %></th> 	
		<td>
			<table class="employer_inner">
				<tr><th>Field 1</th><th>Role</th><th>Field 2</th><th>Field 3</th></tr> <%#need to add fields depending on spec
				%>
				<tr><td><%= %></td><td><%=  %></td><td><%= %></td><td><%=%></td></tr>
			</table>
		</td>
	</tr>
</table>
<%end%>
