<h1>Listing employer_profiles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Bio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employer_profiles.each do |employer_profile| %>
  <tr>
    <td><%= employer_profile.name %></td>
    <td><%= employer_profile.bio %></td>
    <td><%= link_to 'Show', employer_profile %></td>
    <td><%= link_to 'Edit', edit_employer_profile_path(employer_profile) %></td>
    <td><%= link_to 'Destroy', employer_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employer profile', new_employer_profile_path %>
