<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Dashboard</title>

  	<%= javascript_include_tag "application" %><% "#this line is req to get the standard javascripts to let devise work" %>
	<%= stylesheet_link_tag "admin/layout", :type => "text/css", :media => "screen"%>
	<!--[if lt IE 9]>
	<%= stylesheet_link_tag "admin/ie", :type => "text/css", :media => "screen"%>	
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<%= javascript_include_tag "members.js"%>

	<script type="text/javascript">
	$(document).ready(function() 
    	{ 
      	  $(".tablesorter").tablesorter(); 
   	 } 
	);
	$(document).ready(function() {

	//When page loads...
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content

	//On Click Event
	$("ul.tabs li").click(function() {

		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});

});
    </script>
    <script type="text/javascript">
    $(function(){
        $('.column').equalHeight();
    });
</script>

</head>


<body>
<h1><%= flash[:notice] %></h1>
<p class="alert"><%= flash[:alert] %></p>
<%= yield %>

<div class="clear"></div>
</body>

</html>