<%= javascript_include_tag "members" 
%>
<%= stylesheet_link_tag "all/mentors", "all/pro_pages_style"
%>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<%= render :partial => 'shared/member/header' %>
<%= render :partial => 'shared/member/secondarybar_and_sidebar'%>
<%= stylesheet_link_tag "validation/validation_default", :type => "text/css", :media => "screen"%>
        

		<section id="main" class="column">
			<%= render :partial => 'shared/member/alerts_and_notices'%>
				<article class="module width_full" style="border:none; background:transparent;">			
					<h1>Internal Mentors</h1>
					<span class="initial_text" style="margin-bottom: 2em; float: left; clear:both"> Use our search facility below to find internal mentors that meets your requirements.
					</span>
					<div style="clear: both">
						<ul class="tabs" style="width: 135px">
		   					<li><a href="#tab1">Simple</a></li>
							<li><a href="#tab2">Advanced</a></li>
						</ul>
						
						<div class="tab_container" >
							<%= form_tag('/'+@type_address+'s/search', :id=> 'form')%>
							<div id="tab1" class="tab_content">
								<%=text_field_tag(@type+'_name', nil, :placeholder => "#{@type}'s name...", :id=>@type+'_name', :style=> "padding: 10px 0")%>
								<label>
							    	<span class="text-form fleft">in:</span>
							    	<%=select_tag('sector_id', options_from_collection_for_select(@sectors, "id", "name"), :include_blank=>true, :style=>"display: inline-block" )%>
								</label> 
							</div>
							<div id="tab2" class="tab_content">
								<div class="container_24">
									<div class="wrapper">
										<div class="grid_12">
											<label >Closing After:</label>
											<input class="closing_date" id="closing_date" name="closing_date" readonly="readonly" type="text" class="hasDatepicker">		
										</div>
										<% if (@type == "project")%>
										<div class="grid_12" style="width: 50%;">
											<label for="amount">Min Salary (£):</label>
											<div style="" class="pay_slider" id="pay_slider"></div> 
								            <%=text_field_tag('pay_value', nil, :class => "pay_value", :id  => "pay_value")%>
										</div> 
										<% end%>
									</div>
								</div>		
							</div>
						</div>
					</div>
						<%=submit_tag('Search', :class => "search_button", :style=>"margin: 1em; float: right;")%>
						</form>
					<% @mentors.each do |mentor| %>
					<table class="table">
						<tr>
							<th class="mentor_title"><%=link_to "#{mentor.fname} #{mentor.lname}", mentor%></th>
							<th><%= image_tag("/assets/mentors/#{mentor.image}" , :class => "mentor_image" )%></th> 	
							<td>
								<table class="mentor_inner">
									<tr><th>Organisation</th><th>Role</th><th>Sectors</th><th>Closing Date</th></tr>
									<tr><td><%= mentor.organisation%></td><td><%= mentor.role_title %></td><td><%=sectorsHTML(mentor)%></td><td><%=mentor.closing_date%></td></tr>
								</table>
							</td>
						</tr>
					</table>
					<%end%>
				
				</article>
		</section>
