<%= javascript_include_tag "members" %>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<%= render :partial => 'shared/member/header' %>
<%= render :partial => 'shared/member/secondarybar_and_sidebar'%>
<%= stylesheet_link_tag "validation/validation_default", :type => "text/css", :media => "screen"%>

<script type="text/javascript">  
        $(document).ready(function(){
            $("#details tr:odd").addClass("odd");
            $("#details tr:not(.odd)").hide();
            $("#details tr:first-child").show();
            
            $("#details tr.odd").click(function(){
                $(this).next("tr").toggle();
                $(this).find(".arrow").toggleClass("up");
            });
            //$("#details").jExpand();
        });
    </script>        

		<section id="main" class="column">
			<%= render :partial => 'shared/member/alerts_and_notices'%>
				<article class="module width_full" style="border:none; background:transparent;">			
					<h1>Listing projects</h1>

					<table id="details">
					  <tr>
					    <th>Name</th>
					    <th>Project leader</th>
					    <th>Sectors</th>
					    <th>Organisation</th>
					    <th>Closing date</th>
					    <th></th>
					    <th></th>
					    <th></th>
					    <th></th>
					  </tr>
					
					<% @projects.each do |project| %>
					  <tr>
					    <td><%= project.name %></td>
					    <td><%= project.project_leader %></td>
					    <td><%= sectorsHTML(project) %></td>
					    <td><%= project.organisation %></td>
					    <td><%= project.closing_date %></td>
					    <td><%= link_to 'Show', project %></td>
					    <td><%= link_to 'Edit', members_edit_project_path + "/#{project.id}/#{project.name}" %></td>
					    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
					    <td><div class="arrow"></div></td>
					  </tr>
					  <tr>
					  	<td colspan="10">
				  			<div class="inner">
				  				<p><span>Location:</span> <%= project.location %></p>
							    <p><span>Description:</span> <%= project.description %></p>
							    <p><span>Email:</span> <%= project.email %></p>
							    <p><span>Telephone:</span> <%= project.telephone %></p>
							    <p><span>Applications made: </span><%= countProjectApplications(project.id)%></p>
				  			</div>
				  		</td>
					  </tr>
					<% end %>
					</table>
					
					<br />
			</article>
		</section>
		
<% #TODO FIND A WAY TO USE POST METHOD WHEN GOIG TO EDIT PAGE 
%>

<script language="JavaScript"><!--
function submitForm() {
    document.myForm.commit.click();
}
//--></script>