	<%= render :partial => 'shared/member/header' %>
	<%= render :partial => 'shared/member/secondarybar_and_sidebar'%>
	
	<section id="main" class="column">
	
	<% #TODO insert JQuery here for boxes that open up sections which will have parts to fill in %>
	
	<article class="module width_full" style="border:none; background:transparent;">
		
		<ul class="tabs">
   			<li><a href="#tab1">Personal Details</a></li>
    		<li><a href="#tab2">Section 2</a></li>
    		<li><a href="#tab2">Section 3</a></li>
		</ul>
		
		 
		<div class="tab_container" style="clear:both; padding: 5% 0 0 5%;">
		
			<div id="tab1" class="tab_content">
			<%= form_tag('/members/update') %> 
				<p> 
					<%=label_tag('fname', 'First Name')%>
					<%=text_field_tag 'fname', @member.fname %>
				</p>
				<p> 
					<%=label_tag('lname', 'Last Name')%>
					<%=text_field_tag'lname', @member.lname%>
				</p>
			
			</div>
			
			<div id="tab2" class="tab_content">
				<p> content </p>
			</div>
			
			<div id="tab3" class="tab_content">
				<p> content </p>
			</div>
		</div>
		
		<div class ="submit_link">
			<%=submit_tag('Save Changes')	%>
		</div>
	</article>
	</section>
