	<%= render :partial => 'shared/member/header' %>
	<%= render :partial => 'shared/member/secondarybar_and_sidebar'%>
	
	<section id="main" class="column">
	
	<% '#TODO insert JQuery here for boxes that open up sections which will have parts to fill in' %>
	
	<article class="module width_full" style="border:none; background:transparent;">
		
		<ul class="tabs">
   			<li><a href="#tab1">Personal Details</a></li>
    		<li><a href="#tab2">Academic Details</a></li>
    		<li><a href="#tab3">Career Details</a></li>
		</ul>
		
		 
		<div class="tab_container" style="clear:both; padding: 5% 0 0 5%;">
		
			<div id="tab1" class="tab_content">
			<%= form_tag('/members/update') %>
			<% '#TODO add validation code to the below. Javascript and serverside.'  %> 
				<p> 
					<%=label_tag('fname', 'First Name')%>
					<%=text_field_tag 'fname', @member.fname %>
				</p>
				<p> 
					<%=label_tag('lname', 'Last Name')%>
					<%=text_field_tag'lname', @member.lname%>
				</p>
				<p> 
					<%=label_tag('email', 'Email Address')%>
					<%=text_field_tag'email', @member.email%>
				</p>
				<p> 
					<%=label_tag('dob', 'Date of birth dd/mm/yyyy')%>
					<%=text_field_tag'dob', @member.dob%>
				</p>
				<p> 
					<%=label_tag('gender', 'Gender')%>
					<%=select_tag 'gender', options_for_select([["Male"],["Female"]]) %>
				</p>
				<p> 
					<%=label_tag('telephone', 'Telephone Number')%>
					<%=text_field_tag'telephone', @member.telephone%>
				</p>
				
				<p> 
					<%'#TODO select tag. of location'%>
					<%=label_tag('location', 'You live in')%>
					<%=select_tag 'location', options_from_collection_for_select(@locations, "id", "name", @member_location) %>
				</p>
				
							
			</div>
			
			<div id="tab2" class="tab_content">
				<p> 
					<%=label_tag('academic_institution', 'Your Academic Institution')%>
					<%=text_field_tag'academic_institution', @member.academic_institution%>
				</p>
				<p> 
					<%=label_tag('course', 'Your Course')%>
					<%=text_field_tag'course', @member.course%>
				</p>
				</div>
			
			<div id="tab3" class="tab_content">
				<p> 
					<%=label_tag('sector_ids', 'Interested in (select max 3)')%>
					<%= select_tag "sector_ids", options_from_collection_for_select(@sectors, "id", "name",@member_sectors_ids), {:multiple => true, :style => "background: white;"} %>
				</p>
				<p> 
					<%'#TODO select tag. of employment status'%>
					<%=label_tag('employment_status', 'Your employment status')%>
					<%=text_field_tag'employment_status', @member.employment_status%>
				</p>			
				<p> 
					<%'#TODO file tag. upload cv'%>
					<%=label_tag('cv', 'Upload Your CV')%>
					<%=text_field_tag'cv', @member.cv%>
				</p>
			</div>
		</div>
		
		<div class ="submit_link">
			<%=submit_tag('Save Changes')	%>
		</div>
	</article>
	</section>
