	<%= render :partial => 'shared/member/header' %>
	<%= render :partial => 'shared/member/secondarybar_and_sidebar'%>
	<%= javascript_include_tag "validation/profile_validation.js"%>
	<section id="main" class="column">
	<% if notice.presence%>
	<h4 class="alert_info"><%= notice %></h4>
	<%end%>
	<% if alert.presence%>
	<h4 class="alert_info"><%= alert %></h4>
	<%end%>
	<article class="module width_full" style="border:none; background:transparent;">
		
		<ul class="tabs">
   			<li><a href="#tab1">Personal Details</a></li>
    		<li><a href="#tab2">Academic Details</a></li>
    		<li><a href="#tab3">Career Details</a></li>
		</ul>
		
		 
		<div class="tab_container" style="clear:both; padding: 5% 0 0 5%;">
		
			<div id="tab1" class="tab_content">
			<%= form_tag('/members/update', :id=>"member_profile_form", :onsubmit => "return validateForm();") %>
			<% '#TODO add validation code to the below. Javascript and serverside.'  %>
			<table> 
				<tr>
					<td><%=label_tag('fname', 'First Name')%></td>
					<td><%=text_field_tag 'fname', @member.fname %></td>
				</tr>
				<tr> 
					<td><%=label_tag('lname', 'Last Name')%></td>
					<td><%=text_field_tag'lname', @member.lname%></td>
				</tr>
				<tr> 
					<td><%=label_tag('email', 'Email Address')%></td>
					<td><%=text_field_tag'email', @member.email%></td>
				</tr>
				<tr> 
					<td><%=label_tag('dob', 'Date of birth')%> <br/>dd-mm-yyyy</td>
					<td><%=text_field_tag'dob', @member.dob%></td>
				</tr>
				<tr> 
					<td><%=label_tag('gender', 'Gender')%></td>
					<td><%=select_tag 'gender', options_for_select([[""],["Male"],["Female"]], @member.gender) %></td>
				</tr>
				<tr> 
					<td><%=label_tag('telephone', 'Telephone Number')%></td>
					<td><%=text_field_tag'telephone', @member.telephone%></td>
				</tr>
				
				<tr> 
					<td><%=label_tag('location', 'You live in')%></td>
					<td><%=select_tag 'location', options_from_collection_for_select(@locations, "id", "name", @member.location) %></td>
				</tr>
			</table>
							
			</div>
			
			<div id="tab2" class="tab_content">
				<table>
					<tr> 
						<td><%=label_tag('academic_institution', 'Your Academic Institution')%></td>
						<td><%=text_field_tag'academic_institution', @member.academic_institution%></td>
					</tr>
					<tr> 
						<td><%=label_tag('course', 'Your Course')%></td>
						<td><%=text_field_tag'course', @member.course%></td>
					</tr>
				</table>
			</div>
			
			<div id="tab3" class="tab_content">
				<table>
					<tr> 
						<td><%=label_tag('sector_ids', 'Interested in (select max 3)')%></td>
						<td><%= select_tag "sector_ids", options_from_collection_for_select(@sectors, "id", "name",@member_sectors_ids), {:multiple => true, :style => "background: white;"} %></td>
					</tr>
					<tr> 
						<td><%=label_tag('employment_status', 'Your employment status')%></td>
						<td><%= select_tag "employment_status", options_for_select([[''],['Self-employed'], ['Young professional'], ['Unemployed'], ['University student'], ['other']], @member_employment_status)%></td>
					</tr>			
					<tr> 
						<%'#TODO file tag. upload cv'%>
						<td><%=label_tag('cv', 'Upload Your CV')%></td>
						<td><%=file_field(:cv, :attached, :accept => 'text/pdf/doc/docx')%></td>
					</tr>
				</table>
			</div>
		</div>
		
		<div class ="submit_link">
			<%=submit_tag('Save Changes')	%>
		</div>
	</article>
	</section>
