	<%= render :partial => 'shared/member/header' %>
	<%= render :partial => 'shared/member/secondarybar_and_sidebar'%>
	
	<section id="main" class="column">
		<%= render :partial => 'shared/member/alerts_and_notices'%>
	<article class="module width_full" style="border:none; background:transparent;">
	
		<ul class="tabs">
   			<li><a href="#tab1">Email Preferences</a></li>
    		<li><a href="#tab2">Accout Preferences</a></li>
		</ul>
<% #TODO add these check boxes to the member model as booleans
%>
			<div class="tab_container" style="clear:both; padding: 5% 0 0 5%;">
				<div id="tab1" class="tab_content">
					<table> 
					<tr>
						<td><p><%=label_tag('monthly_email', 'Please tick this box if you do NOT want to receive monthly email updates with new mentors and projects in your selected career sector')%></p></td>
						<td><%=check_box_tag 'monthly_email', false , false %></td>
					</tr>
					<tr>
						<td><p><%=label_tag('info_passed_on', 'Please tick this box if you do NOT want your information to be passed on to employment agencies for potential job offers')%></p></td>
						<td><%=check_box_tag 'info_passed_on', false, false%></td>
					</tr>
					<tr>
						<td><p><%=label_tag('mentoring_highschools', 'Please tick this box if you do NOT want to be considered for mentoring high school students in your local area')%></p></td>
						<td><%=check_box_tag 'mentoring_highschools', false, false%></td>
					</tr>
					<tr>
						<td><p><%=label_tag('3rd_parties', 'Please tick this box if you do NOT want your details to be passed on to 3rd parties for marketing purposes')%></p></td>
						<td><%=check_box_tag '3rd_parties', false, false%></td>
					</tr>
					</table>
				</div>
				<div id="tab2" class="tab_content">
					<p> <%=button_to "Change your password", edit_member_registration_path %> </p>
					<p><%= button_to "Cancel my account", member_registration_path, :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

					<p> premium account </p>
				</div>
			</div>
			
	
	</article>
	</section>
